body {
    margin: 0;
    padding-top: 800px;

}

.img {
    width: 275px;
    margin-bottom: 50px;
    border-radius: 50%;
}

#welcome {
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    width: 100%;
    position: absolute;
    height: 800px;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 1;
    display: table;
}

h1 {
    font-size: 40px;
    font-weight: 300;
    line-height: 1.0;
}

#name {
    font-size: 30px;
    font-weight: 300;
    font-family: cursive;
}

#bio {
    padding: 50px;
    text-align: center;
    font-size: 42px;

}

.line {
    height: 10px;
    background-color: black;
    width: 200px;
    margin: 50px auto;

}

p {
    max-width: 450px;
    margin: 25px auto;
    font-size: 17px;
}

.inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.link{
   float: left;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-size: 20px;
    font-family: fantasy;
}
.menu{
    list-style: none;
    position: absolute;
    top: 10px;
    z-index: 10;
    right: 30px;
    cursor: pointer;
    
}
.link:hover{
    background-color: burlywood;
    text-decoration: underline;
    font-family: 'Lobster', cursive;
}